@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");

#wrapper {
    padding-top: 90px;
}

/* Sidebar */

.delete-btn {
  float: right;
  display: none;
}

#all-lists a {
    display: inline-block;
    background: none;
}

.delete-btn.show {
    display: inline;
}

/* Display of one list */

.row.list-header { margin-bottom: 30px; }

.add-task-btn {
  margin-top: 20px;
}

.complete {
    text-decoration: line-through;
}

.task-value {
  margin: 10px 10px 0px 0px;
}

 /* All Mobile Sizes (devices and browser) */
 @media only screen and (max-width: 767px) {
    #wrapper {
      padding-top: 0px;
    }     
 }

/* Flash messages */

.flash-container {
    position: fixed;
    width: 100%;
    margin-top: 40px;
}

.message-box {
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}

.message-box h2{
    margin: 0 5px 0 5px;
    font-size: 0.9em;
    font-family: "helveticaneue-light";
    display: inline-block;
}

.message-box p{
    font-family: "helveticaneue-light";
    display: inline-block;
}

.message-box.success {
    background-color: #A6D785;
    color: #468847;
    border: 1px solid rgb(214, 233, 198);
}

.message-box.warning {
    background-color: #FCF8E3;
    color: #C09853;
    border: 1px solid rgb(251, 238, 213);
}

.message-box.info {
    background-color: #D9EDF7;
    color: #3A87AD;
    border: 1px solid rgb(188, 232, 241);
}

.message-box.error {
    background-color: #F2DEDE;
    color: #B94A48;
    border: 1px solid rgb(238, 211, 215);
}